.movieItem{
    height: 200px;
    width: 200px;
    margin-top: 30px;
    margin-left: 30px;
    border: 1px solid lightgray;
    display: inline-block;
    float: left;
    border-radius: 3px;
    position: relative;
}

.movieFrame{
    height: 200px;
    width: 200px;
    padding: 5px 5px 5px 5px;
    position: relative;
    top: 0px;
    left: 0;
    
}

.movieIMGS{
    position: relative;
    top: 0;
}

.info{
    position: relative;
    top: 0;
}

.title{
    width: 190px;
    height: 40px;
    margin-left: 5px;
    background-color: black;
    opacity: .4;
    text-align: center;
    color: white;
    bottom: 0;
}

.year{
    
}

.desc{
    display: none;
}

.star{
    height: 20px;
    width: 20px;
}

.rating{
    display: none;
}

.hd{
    height: 30px;
    width: 40px;
    position: relative;
    top: 15px;
    left: 15px;
    margin-top: -400px;
}